
#contentArea *, #mainNav * {
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}


h1, h2, h3, h4, h5, #fullArticle blockquote {
	font-weight: 500;
}
body, input, textarea {
	font-weight: 400;
}

strong {
	font-weight: 600;
}
a {
  text-decoration: none !important;
}

ul li ul, ul li ol, ol li ol, ol li ul {
  margin-top: 16px;
}

/* Header */

.navbar .brand { 
	padding: 0;
  z-index: 999;
  position: relative;
  width: 180px;
}
.navbar .brand img {
  width: 175px;
  height: 33px;
}
.navbar .navbar-inner {
	background: #161616;
	box-shadow: none;
	padding: 41px 0 40px;
}
.navbar .nav {
	bottom: 10px;
}
.navbar .nav li a {
	color: #111;
}
.navbar .nav li a:hover {
	font-weight: 700;
	color: #111;
}
.navbar .nav li.active a {
	color: #000 !important;
	font-weight: 700;
	pointer-events: none;
}
.navbar .nav .caret {
	display: none !important;
}

#main-content {
	background-image: none;
  position: relative;
}
.contentWrapper {
	top: 40px;
}

.ct-button {
  color: #f4f4f4 !important;
  width: 170px;
  text-align: center;
  height: 46px;
  line-height: 46px !important;
  position: relative;
  top: 20px;
  border: 1px solid !important;
  border-radius: 45px !important;
  padding: 0 !important;
  transition: all 200ms linear !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none !important;
}
.ct-button:hover {
  background: #f7f7f7 !important;
  color: #1b1b1b !important;
}

/* Homepage header */

#docsSearch {
	background: #161616;
	border-bottom: none;
	padding: 10px 0 40px;
	position: relative;
	top: -1px;
	z-index: 999;
	margin-bottom: 0;
}
#docsSearch h1 {
  color: #f4f4f4;
  font-weight: 400;
  position: relative;
  max-width: 1180px;
  width: calc(100% - 96px);
  margin: 90px auto 40px;
  font-size: 40px;
  line-height: 44px;
  text-align: left;
}
#searchBar {
  width: calc(100% - 96px);
	max-width: 1180px;
	padding: 0;
	margin: 0 auto 80px;
	text-align: left;
}
#searchBar .search-query {
  box-shadow: none;
  color: #fff;
  padding-left: 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 45px;
  font-size: 20px;
  height: 70px;
  padding: 0 45px;
  margin: 0;
  max-width: 748px;
  transition: all 200ms linear;
}
#searchBar .search-query:hover {
	border-color: #7e7e7e;
}
#searchBar .search-query:focus {
	border-color: #fff;
}
#searchBar .search-query:placeholder-shown {
	color: #777;
	border-color: #595959;
}
#searchBar .search-query::placeholder {
	opacity: 1 !important;
	color: #777;
}
#searchBar button {
  border: none;
  text-shadow: none;
  padding: 0 30px;
  color: #161616 !important;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 508px;
  height: 70px;
  background: #f7f7f7 !important;
  border-radius: 0 45px 45px 0;
  font-weight: 600;
  width: 240px;
  font-size: 24px;
  transition: all 200ms linear;
}


#serp-dd {
  border: none;
  box-shadow: none;
  margin-top: 20px;
  max-width: 718px;
  padding: 40px 30px 40px 0;;
  border-radius: 10px;
  min-height: 70px;
}
#serp-dd .result {
  padding: 0 45px;
}
#serp-dd .result a {
	font-size: 13px;
	padding: 6px 0 3px;
	color: #1b1b1b;
}
#serp-dd .result a:hover {
	background: transparent;
	color: #0000ff;
}
#serp-dd .result>li.active {
  background: transparent !important;
}
.article-count {
	color: #b4b4b4 !important;
}
#contactModal h2 {
	font-size: 19px;
}
#serp-dd .noResults {
  padding-left: 0;
}

/* General structure */

.container-fluid {
  max-width: 1180px;
  width: calc(100% - 96px);
}
#contentArea {
  width: 100%;
  max-width: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#contentArea > .row-fluid {
	max-width: 1180px;
  width: calc(100% - 96px);
	margin: auto;
}

footer {
  max-width: 1180px;
  width: calc(100% - 96px);
  margin: 80px auto 50px;
}

#help-message {
  background: #161616;
  color: #f7f7f7;
  padding: 50px 60px;
  box-sizing: border-box;
  border-radius: 10px;
	max-width: 1180px;
  width: calc(100% - 96px);
	margin: auto;
	margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#help-message > div {
	position: relative;
	padding-left: 110px;
}
#help-message img {
	position: absolute;
	left: 0;
}
#help-message h3 {
  margin: 0;
  font-size: 24px;
  letter-spacing: 0.01em;
  font-weight: 400;
}
#help-message p {
	color: #979797;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
#help-message .ct-button {
  background: #fff;
  color: #1b1b1b !important;
  top: 0;
}
#help-message .ct-button:hover {
  background: #0000ff !important;
  border-color: transparent !important;
  color: #fff !important;
}

/* Homepage content */

#welcome {
  width: 100%;
  background: #f4f4f4;
  padding: 90px 60px;
  color: #1b1b1b;
  box-sizing: border-box;
}
#welcome > div {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}
#welcome h3 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	margin-bottom: 24px;
}
#welcome p {
	margin-bottom: 24px;
  width: 80%;
}
#welcome a {
  color: #1b1b1b;
  border-bottom: 1px solid;
}

.collection-category {
  max-width: 1180px;
  margin: auto;
  width: calc(100% - 96px);
  margin-top: 80px;
}
.collection-category .category-list {
	margin: 0;
}


.category-list:after {
	content: "";
	display: block;
	clear: left;
}
.category-list .category {    
  text-align: left;
  box-sizing: border-box;
  position: relative;
  padding: 40px 0 25px 85px;
  margin: 0 0 25px 2.5%;
  width: 31.66%;
  float: left;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}
.category-list .category:hover {
  border-color: #c0c0c0;
  background: transparent;
}
#category-384 {
  margin-left: 0;
}

.collection-category h2 {
  font-weight: 500;
  font-size: 24px;
  padding-left: 0;
}
.collection-category h2 a {
  color: #161616;
  border: none !important;
  text-decoration: none !important;
}

.category-list h3 {
  font-size: 18px;
  position: relative;
  top: -8px;
  left: 0;
  margin: 0;
  color: #161616;
}
.category-list .category h3:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 40px;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -60px;
  top: 3px;
  margin: 0;
}

.category-list p {
  font-size: 14px;
  color: #979797;
  margin-top: 16px;
}

.category-list .category .article-count {
	margin-top: -20px;
	font-weight: 300;
}
.category-list .category:first-child, #collection-category-31 .category-list .category:nth-child(3) {
	margin-left: 0;
}

/* Pages */

#content {
	background: none;
	margin-top: 40px;
}
#sidebar {
	margin-top: 70px;
  position: sticky;
  top:0;
}

code, pre {
}

#sidebar #searchBar .search-query {
  border-radius: 45px;
  font-size: 14px;
  padding: 0px 35px 0 25px;
  box-shadow: none !important;
  color: #1b1b1b;
  border: 1px solid #1b1b1b;
}
#sidebar #searchBar .search-query:hover {
  border-color: #cfcfcf !important;
}
#sidebar #searchBar .search-query:focus {
  border-color: #1b1b1b !important;
}
#sidebar #searchBar .search-query:placeholder-shown {
  color: #979797;
  border-color: #dedede; !important
}
#sidebar #searchBar .search-query::placeholder {
  opacity: 1 !important;
  color: #979797;
  border-color: #dedede !important;
}
#sidebar #searchBar button[type="submit"] {
  right: 0;
  width: 40px;
  left: auto;
  background-color: transparent !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjc1IDlDMS43NSA0Ljk5NTk0IDQuOTk1OTQgMS43NSA5IDEuNzVDMTMuMDA0MSAxLjc1IDE2LjI1IDQuOTk1OTQgMTYuMjUgOUMxNi4yNSAxMy4wMDQxIDEzLjAwNDEgMTYuMjUgOSAxNi4yNUM0Ljk5NTk0IDE2LjI1IDEuNzUgMTMuMDA0MSAxLjc1IDlaTTkgMC4yNUM0LjE2NzUxIDAuMjUgMC4yNSA0LjE2NzUxIDAuMjUgOUMwLjI1IDEzLjgzMjUgNC4xNjc1MSAxNy43NSA5IDE3Ljc1QzExLjE0NjIgMTcuNzUgMTMuMTEyIDE2Ljk3NzMgMTQuNjM0MiAxNS42OTQ5TDE3LjQ2OTcgMTguNTMwM0MxNy43NjI2IDE4LjgyMzIgMTguMjM3NCAxOC44MjMyIDE4LjUzMDMgMTguNTMwM0MxOC44MjMyIDE4LjIzNzQgMTguODIzMiAxNy43NjI2IDE4LjUzMDMgMTcuNDY5N0wxNS42OTQ5IDE0LjYzNDJDMTYuOTc3MyAxMy4xMTIgMTcuNzUgMTEuMTQ2MiAxNy43NSA5QzE3Ljc1IDQuMTY3NTEgMTMuODMyNSAwLjI1IDkgMC4yNVoiIGZpbGw9IiMxRTFFMUUiLz4KPC9zdmc+Cg==) !important;
  background-repeat: no-repeat !important;
  background-size: 19px !important;
  background-position: top 10px right 15px !important;
}
#sidebar #searchBar button[type="submit"] i {
  display: none !important;
}

#serp-dd.sb {
  top: 38px;
  width: 100%;
  border-radius: 10px !important;
  background: #f7f7f7;
  margin-top: 5px;
}
#serp-dd.sb .result {
  padding: 0 25px;
}
#sidebar h3 {
  color: #979797;
  font-size: 14px;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 400;
}
.icon-arrow {
  display: none;
}
#sidebar .nav-list a {
  font-size: 18px;
  font-weight: 400;
  color: #161616;
  margin-bottom: 10px;
}

.contentWrapper {
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  margin-top: 100px;
  padding: 50px 70px;

}
.contentWrapper h1 {
	font-size: 30px;
	margin-bottom: 32px !important;
}

#categoryHead .sort {
  right: -70px;
  position: absolute;
  top: -160px;
}
#categoryHead .sort select {
  -moz-appearanace: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #e9e9e9;
  border-radius: 45px;
  height: 46px;
  font-size: 14px;
  line-height: 24px;
  color: #979797;
  padding: 0 22px;
  width: 180px;
  outline: none !important;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNCAzLjcyNzI5TDggOS4wMDAwMkw2LjUgNy42MzYzOUwxMi41IDIuMzYzNjZMMTQgMy43MjcyOVoiIGZpbGw9IiMxNjE2MTYiLz4KPHBhdGggZD0iTTMuNDk5OTggMi4zNjM2MUw5LjQ5OTk4IDcuNjM2MzRMOC4wMDAwNCA4Ljk5OTk4TDEuOTk5OTggMy43MjcyNUwzLjQ5OTk4IDIuMzYzNjFaIiBmaWxsPSIjMTYxNjE2Ii8+Cjwvc3ZnPgo=);
  background-size: 16px 9px;
  background-position: right 15px top 16px;
}

.articleList {
	list-style: inside number;
}
.articleList li {
  margin: 11px 0px 10px 2px;
  padding-left: 0px;
  border-top: 1px solid #eee;
  padding-top: 12px;
}
.articleList li:first-child {
  border-top: none;
}
.articleList a {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  padding: 10px 0px;
  display: block;
  color: #000;
}
.articleList a:hover {
  font-weight: 500;
}
.articleList a:hover span {
	text-decoration: none;
}
.articleList i {
	display: none;
}

#fullArticle a {
  border-bottom: 1px solid;
}
#fullArticle h2 {
	font-size: 28px;
}
#fullArticle h3 {
	font-size: 21px;
}
#fullArticle h4 {
	font-size: 21px;
	margin-top: 44px;
	margin-bottom: 17px;
}
#fullArticle h3, #fullArticle h2 {
  margin-bottom: 34px;
  margin-top: 44px;
}
#fullArticle blockquote {
	border: 1px solid #e9e9e9;
	padding: 20px 15px 20px 25px;
	line-height: 20px;
	font-style: normal;
	position: relative;
  border-radius: 10px;
  margin-top: 16px;
}

#fullArticle li {
	margin-bottom: 10px;
}
#fullArticle li ol {
	margin-top: 18px;
}
#fullArticle img, #fullArticle pre, #fullArticle code {
	border-radius: 10px;
}
#fullArticle p, #fullArticle ul, #fullArticle ol, #fullArticle li, #fullArticle div, #fullArticle blockquote, #fullArticle dd, #fullArticle table {
	font-size: 16px;
	line-height: 1.6em;
  color: #000;
}
#fullArticle h1, #fullArticle h2, #fullArticle h3, #fullArticle h4, #fullArticle h5 {
  color: #000;
}
#fullArticle table th, #fullArticle table td {
  border-color: #000;
}


.log-date {
	font-size: 13px !important;
	font-weight: 700 !important;
	color: #bbb !important;
	margin-top: -10px !important;
}

#fullArticle h4 {
    margin-top: 48px;
    margin-bottom: 18px;
}
#fullArticle h5 a {
  color: #000;
  border: 2px solid #000;
  display: inline-block;
  font-size: 14px;
  padding: 18px 25px;
  margin-top: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 45px;
}
#fullArticle h5 a:hover {
	background:  #000;
	color: #fff;
}

.tip, .note {
  padding: 20px 30px;
  margin-top: 20px;
  color: #fff !important;
  border-radius: 10px;
}
.tip {
  background: #ef8f02;
}
.note {
  background: #e91e1e;
}
.tip a, .note a, .tip strong, .note strong {
	color: #fff !important;
	border-color: #fff !important;
}

.articleRatings {
  border-radius: 10px;
  margin-top: 60px;
  box-shadow: none;
}.articleFoot p, .articleFoot time {
  font-style: normal;
}


.printArticle {
	display: none;
}
#mainNav .nav li {
	display: none;
}
#mainNav .nav li:first-child {
	display: block;
}
/*
body #mainNav .nav li.active {
  position: absolute;
  display: block;
  font-size: 10px !important;
  top: 85px;
  right: 0px;
}
body #mainNav .nav li.active a {
    padding: 0;
    position: absolute;
    text-align: center;
    transform: translateX(100%);
    top: 90px;
    margin-right: 0;
    right: 777px;
    z-index: 99;
    font-size: 40px;
    color: #161616 !important;
    background: transparent !important;
    font-weight: 500;
    transition: none !important;
    width: max-content !important;
    display: block;
}
body #mainNav .nav li.active a:before {
    background: yellow;
    width: 100%;
    height: 20px;
    bottom: 0px;
    content: "";
    position: absolute;
    z-index: -1;
    transform: skew(334deg, 358deg);
}
body #mainNav .nav li.active a:after {
    content: "theme collection";
}
body #mainNav .nav li#shopify-basics.active a:after {
  display: none;
}
*/

#fullArticle pre, #fullArticle code {
  background: #f7f7f7 !important;
}
#fullArticle pre, #fullArticle code {
  border: 1px solid #d8d8d8 !important;
}
#fullArticle img, #fullArticle iframe, #fullArticle video {
	padding: 4px;
	border: 1px solid #d8d8d8 !important;
}
#fullArticle iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

@media all and (max-width: 1200px) {
  body #mainNav .nav li.active a {
    right: 75vw;
    margin-right: -180px;
  }
}

@media all and (max-width: 768px) {

	.category-list .category {
    width: 100%;
    margin: 0 0 20px 0;
	}
	.collection-category h2 {
		text-align: left;
	}
	.contentWrapper {
		background: #fff !important;
	}
	#sidebar {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    width: calc(100% + 40px);
    margin-left: -20px;
	}
  #sidebar h3 {
    margin-top: 30px;
  }
	button.btn.btn-navbar.collapsed {
    display: none !important;
	}

	.nav-collapse.collapse {
    height: auto;
    clear: none;
    position: static;
	}
  .btn-navbar {
    display: none !important;
  }
  .navbar .nav {
    text-align: right;
  }

  #docsSearch {
    margin: 0;
  }
  #docsSearch h1,
  #searchBar,
  .container-fluid,
  footer,
  #help-message,
  .collection-category {
    width: calc(100% - 60px);
  }
  #contentArea > .row-fluid {
    width: calc(100% - 100px);
  }
  #welcome {
    padding: 60px 30px
  }
  body {
    overflow-x: hidden;
    padding: 0;
  }

  #help-message {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 25px;
    margin-top: 50px;
  }
  #help-message img {
    display: none;
  }
  #help-message > div {
    padding-left: 0;
  }
  #help-message a {
    margin-top: 30px;
  }

  .contentWrapper {
    margin-top: 60px;
    padding: 50px 40px;
  }
  #categoryHead .sort {
    top: -120px;
    right: -40px;
  }

  .navbar .navbar-inner {
    padding: 25px 0 5px;
  }
  #mainNav .nav li:first-child {
    display: inline-block !important;
  }
  .ct-button {
    top: 5px;
  }
  .nav-collapse, .nav-collapse.collapse {
    overflow: visible;
  }
  .navbar {
    margin: 0 !important;
  }

  body #mainNav .nav li.active a {
    top: 5px;
    right: 100vw;
    margin-right: -70px;
    font-size:  30px;
  }
  body #mainNav .nav li.active a:before {
    height: 10px;
    bottom: 15px;
  }

}

@media all and (max-width: 520px) {
  #categoryHead .sort {
    display: none;
  }
  .navbar .brand {
    top:  5px;
    width: 38px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 38px 28px;
    background-image: url(https://rubenbristian.github.io/helpscout-assets/img/logo-mobile.png);
  }
  .navbar .brand  img {
    display: none; 
  }
  .contentWrapper {
    padding: 0;
    border: none;
  }
  #fullArticle h5 a {
    display: none;
  }
  body #mainNav .nav li.active a {
    margin-right:  -60px;
  }
  .articleFoot {
    display: none;
  }
  #welcome p {
    width: 100%;
  }
}

@media all and (max-width: 868px) {
  #searchBar button {
    left: auto;
    right: 0;
  }
}

@media all and (max-width: 640px) {
  #searchBar {
    margin-bottom: 40px;
  }
  #searchBar button {
    width: 60px;
    height: 50px; 
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjc1IDlDMS43NSA0Ljk5NTk0IDQuOTk1OTQgMS43NSA5IDEuNzVDMTMuMDA0MSAxLjc1IDE2LjI1IDQuOTk1OTQgMTYuMjUgOUMxNi4yNSAxMy4wMDQxIDEzLjAwNDEgMTYuMjUgOSAxNi4yNUM0Ljk5NTk0IDE2LjI1IDEuNzUgMTMuMDA0MSAxLjc1IDlaTTkgMC4yNUM0LjE2NzUxIDAuMjUgMC4yNSA0LjE2NzUxIDAuMjUgOUMwLjI1IDEzLjgzMjUgNC4xNjc1MSAxNy43NSA5IDE3Ljc1QzExLjE0NjIgMTcuNzUgMTMuMTEyIDE2Ljk3NzMgMTQuNjM0MiAxNS42OTQ5TDE3LjQ2OTcgMTguNTMwM0MxNy43NjI2IDE4LjgyMzIgMTguMjM3NCAxOC44MjMyIDE4LjUzMDMgMTguNTMwM0MxOC44MjMyIDE4LjIzNzQgMTguODIzMiAxNy43NjI2IDE4LjUzMDMgMTcuNDY5N0wxNS42OTQ5IDE0LjYzNDJDMTYuOTc3MyAxMy4xMTIgMTcuNzUgMTEuMTQ2MiAxNy43NSA5QzE3Ljc1IDQuMTY3NTEgMTMuODMyNSAwLjI1IDkgMC4yNVoiIGZpbGw9IiMxRTFFMUUiLz4KPC9zdmc+Cg==) !important;
    background-repeat: no-repeat !important;
    background-size: 24px !important;
    background-position: top 12px right 21px !important;
  }
  #searchBar button span,
  #searchBar button .icon-search {
    display: none !important;
  }
  #searchBar .search-query {
    font-size: 16px;
    height: 50px;
    padding: 0 25px;
  }
  #docsSearch  {
    padding-bottom: 10px;
  }
  #docsSearch h1 {
    width: 335px;
    text-align: center;
    margin-top: 30px;
  }
  #serp-dd {
    top: 36px;
    width: calc(100% - 30px);
  }
}

#categoryHead h1 {
  margin-right: 0;
}

.articleList {
  list-style: none !important;
}

div[class*=callout] p {
  font-size: 16px !important;
  padding-top: 7px;
}
#fullArticle h2 + h3 {
  margin-top: -14px;
}
#fullArticle a {
  border-bottom: 1px solid;
  color: #000;
  font-weight: 600;
}

@media screen and (min-width: 861px) {
  #collection-category-582 .category-list {
    grid-template-areas: ". ."
  }
}
#collection-category-582 .category-list:before {
  display: none;
}
.category-list {
    display: grid;
    grid-template-areas:
        "image ."
        "image ."
        "image ."
        "image ."
        "image ."
        "image .";
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    grid-gap: 20px;
}
@media screen and (min-width: 861px) {
  #collection-category-370 .category-list {
    grid-template-areas:
    "image ."
    "image ."
    "image ."
    "image .";
  }
  #collection-category-463 .category-list,
  #collection-category-550 .category-list {
    grid-template-areas:
    "image ."
    "image ."
    "image .";
  }
}
@media screen and (max-width: 860px) {
  .category-list {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "image"
      "."
  }
  .category-list:before {
    height: 200px;
  }
}
.category-list .category {
    margin: 0 !important;
    float: none;
    width: 100% !important;
}
.category-list:before {
  grid-area: image;
  border-radius: 10px;
  object-fit: cover;
  object-position: right;
  content: "";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  max-height: 400px;
}
.category-list:after {
  display: none;  
}
#collection-category-632 .category-list:before {
  background-image: url('https://rubenbristian.github.io/helpscout-assets/img/local_hero_1160.jpg');
}
#collection-category-550 .category-list:before {
  background-image: url('https://rubenbristian.github.io/helpscout-assets/img/highlight_hero_1160.jpg');
}
#collection-category-370 .category-list:before {
  background-image: url('https://rubenbristian.github.io/helpscout-assets/img/split_hero_1160.jpg');
}
#collection-category-463 .category-list:before {
  background-image: url('https://rubenbristian.github.io/helpscout-assets/img/kingdom_hero_1160.jpg');
}
#collection-category-657 .category-list:before {
  background-image: url('https://rubenbristian.github.io/helpscout-assets/img/combine_hero_1160.jpg');
}
#collection-category-759 .category-list:before {
  background-image: url('https://rubenbristian.github.io/helpscout-assets/img/borders_hero_1160.jpg');
}

.category-list .category[href*='theme-settings'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/theme-settings.png);
}
.category-list .category[href*='header-footer'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/header-footer.png);
}
.category-list .category[href*='product'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/grid.png);
}
.category-list .category[href*='sections'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/pages.png);
}
.category-list .category[href*='apps'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/app.png);
}
.category-list .category[href*='faq'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/faq.png);
}
.category-list .category[href*='video'] h3:before {
  background-image: url(https://rubenbristian.github.io/helpscout-assets/icons/video.png);
}

#Get-the-latest--greatest-with-one-click-theme-updates-5gPKu ~ p a,
#Assign-multiple-images-for-unique-variants-lBNRx ~ p a,
#The-easiest-way-to-duplicate-your-Shopify-store-nO49L ~ p a {
  border-radius: 3px;
  background: #000;
  padding: 11px 15px;
  display: inline-block;
  color: #fff;
}


/* TOC */
#toc {
  padding: 15px;
  border: dashed 1px #bdb9b9;
}

.go-to-toc {
  position: fixed;
  display: inline-block;
  background: black;
  color: white;
  padding: 4px 10px;
  right: 10px;
  z-index: 99;
  top: 125px;
  font-size: 11px;
  border-radius: 10px;
}

.go-to-toc:focus {
  color: white;
}


@media all and (min-width: 768px) {
  #toc {
    max-height: calc(100vh - 460px);
    overflow: auto;
    scrollbar-width: thin;
  }

  .go-to-toc {
    display:none;
  }

  .krown-gallery {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }
}

@media all and (max-width: 768px) {
  .krown-gallery figure {
    width: 100% !important;
  }
}

#toc h3 {
  margin-top: 0;
  line-height: 1.2;
  font-size: 12px;
  margin-bottom: 14px;
}

#toc ul {
  margin-bottom: 0 !important;
}

#toc .nav-list li {
  margin: 0 !important;
  padding: 4px 0 4px;
}

#toc .nav-list a {
  font-size: 14px;
  padding: 0;
  margin-bottom: 0 !important;
}

#toc .nav-list a:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

@media screen and (min-width: 861px) {
  .collection-category h2:not(#collection-582) {
    position: sticky;
    top: 20px;
  }
  .category-list:before {
    position: sticky;
    top: 102px;
  }
}

.preset-names {
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  display: block;
  line-height: 1.3;
  margin-top: 8px;
}

.page-banner-title {
  position: absolute;
  width: calc(100% - 30px);
  background: #161616;
  color: #fff;
  height: 110px;
  border-radius: 10px;
  padding: 32px 50px;
  box-sizing: border-box;
}
.page-banner-title__caption {
  margin-top: 18px;
  display: block;
  font-size: 16px;
  opacity: .82;
}
.page-banner-title__heading {
  font-size: 34px;
  font-weight: 400;
  display: block;
}

@media all and (max-width: 768px) {
  .page-banner-title {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .contentWrapper {
    margin-top: -10px;
  }
}
@media (max-width: 520px) {
  .page-banner-title {
    padding: 30px 20px;
  }
  .page-banner-title__heading {
    font-size: 26px;
  }
  .page-banner-title__caption {
    font-size: 14px;
  }
}

#sortBy {
  display: none !important;
}

.collection-hero-image {
  border-radius: 8px 8px 0 0;
  margin: -50px -70px 50px;
  max-width: calc(100% + 140px);
}
@media all and (max-width: 768px) {
  .collection-hero-image {
    margin: -50px -40px 30px;
    max-width: calc(100% + 80px);
  }
}
@media all and (max-width: 520px) {
  .collection-hero-image {
    border-radius: 8px;
    margin: -10px 0 20px;
    max-width: 100%;
  }
}